@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
 @tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-container {

  width: 100%;
}

.img-container img {
  min-height: 100%;
  width: 100%;
}

body {
  font-size: 'Poppins';
  line-height: 1.6;
  font-size: 1rem;

  background: rgb(254, 254, 234) ;
  background: linear-gradient(180deg, rgba(254, 254, 234, 1) 0%, rgba(255, 255, 183, 1) 54%) ;


}

.hrline {
  border-bottom: 2px solid red;
  margin-bottom: 30px;
  /* width: 1800px; */
margin-left: 0;
margin-right: 0;
}


.tropyimg {
  background-color: rgba(255, 255, 183, 0);
}

.service span {
  margin-left: 8px;
 
  margin-right: 8px;

  border-right: 1px solid red;
}


.tropyimg{
  height: 100%;
  width: 100%;
}
.tropyimg img{
  height: 100%;
  width: 100%;
}
@media (max-width: 700px) {
  .herosection{
    font-size: 13px;
  }
  .tropyimg{
    height: 90%;
    width: 90%;
    margin-top: 50px;
  }
  body{
    line-height:1.2;
  }
}

@media (max-width: 770px){
.footer-content{
justify-content: space-around;

font-size: 14px;
}
body{
  font-size: 13px;
}
footer{
  margin-left: 0;
  margin-right: 0;


}
.foo{
  margin-top: 6px;
}
.foo a{
  font-size: 5px;
}
}

@media (min-width: 400px){
body{
  font-size: 10px;
  background-color: red;
}
.herosection{
  font-size: 10px;
}
.tropyimg{
  height: 80%;
  width: 100%;
  margin-top: 60px;
}
footer{
 height: 100px;
 /* padding: 0; */
 font-size: 10px;

}
footer a{
size: 10px;
}
}